* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #EDF2F4;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #2B2D42;
}

a:hover {
  color: #e63946;
}

.active {
  color: #e63946;
}

.wrapper {
  padding: 30px auto;
}

.wrapper .container {
  width: 100%;
  min-height: 200px;
  background-color: #EDF2F4;
}

header {
  text-align: center;
  width: 100%;
  background-color: #2B2D42;
}

header ul {
  padding: 20px 0;
  width: 100%;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  padding: 0 30px;
}

header a {
  color: #EDF2F4;
}

section#home {
  padding: 0;
}

section#home .jumbo {
  width: 100%;
  height: 400px;
  background-image: url("/img/hotel.png");
  background-size: cover;
  background-position: top center;
}

section {
  padding: 40px 0;
  width: 100%;
  height: 100%;
}

section table {
  max-width: 400px;
  margin: auto;
  border: 1px solid #2B2D42;
  padding: 30px;
}

section caption {
  font-weight: 600;
  padding-bottom: 15px;
}

section th {
  color: #e63946;
  text-align: left;
}

section tr:first-of-type {
  line-height: 3;
}

section th,
section td {
  text-align: center;
  padding: 5px 30px;
}

section tr:nth-of-type(even) {
  background-color: #B8D1E0;
}

section i {
  text-align: center;
  color: #5590B4;
}

section i:hover {
  color: #e63946;
}

section h2 {
  text-align: center;
  padding: 20px 0;
}

section li {
  border-bottom: 1px solid #2B2D42;
  background-color: #f9dcc4;
  margin: 20px 0;
  padding: 20px 10px;
  list-style: none;
  line-height: 2;
  transition: all 0.2s;
}

section#post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
  width: 100%;
  height: 100%;
  margin: auto;
}

section#post .post {
  width: 350px;
  border: 1px solid black;
  line-height: 2;
  padding: 20px;
  margin: 10px;
}

section#post .post span {
  padding-bottom: 15px;
}

footer {
  padding: 20px 0;
  text-align: center;
  width: 100%;
  min-height: 80px;
  background-color: #2B2D42;
}

footer ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  padding: 0 30px;
}

footer a {
  color: #EDF2F4;
}

