section#home{
  padding:0;

  .jumbo {
    width:100%;
    height:400px;
    background-image: url("/img/hotel.png");
    background-size: cover;
    background-position: top center;
  }

}


section{
  padding:40px 0;
  width:100%;
  height:100%;

  table{
    max-width: 400px;
    margin:auto;
    border:1px solid #2B2D42;
    padding:30px;
    border-collapse: collapse;
  }

  caption{
    font-weight: 600;
    padding-bottom:15px;
  }
  th{
    color:#e63946;
    text-align: left;
  }

  tr:first-of-type{
    line-height: 3;
  }

  th,td{
    text-align: center;
    padding: 5px 30px;
  }

  tr:nth-of-type(even){
    background-color: #B8D1E0;
  }

  i{
    text-align: center;
    color:#5590B4;

    &:hover{color:#e63946;}
  }



  h2{
    text-align: center;
    padding: 20px 0;
  }

  li{
    border-bottom:1px solid #2B2D42;
    background-color: #f9dcc4;
    margin:20px 0;
    padding:20px 10px;
    list-style: none;
    line-height: 2;
    transition: all .2s;
}

}

section#post{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:flex-start;

  padding: 40px 0;
  width: 100%;
  height: 100%;
  margin: auto;

  .post{
    background-color: #fff1e6;
    width:350px;
    border:1px solid black;
    line-height: 2;
    padding:20px ;
    margin:10px;
    overflow: hidden;

    &:nth-of-type(even){
      background-color: #eddcd2;
    }

    .post-container{
      width:100%;
      height:100%;
      transition: all .2s;

      &:hover{
        transform: scale(1.05);
      }
    }


    .txt{
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 127px;
    }

    .categoria{
      min-height: 80px;
    }



    span{
      padding-bottom: 15px;
    }

  }

}
