section{

  h2{
    text-align: center;
    padding: 20px 0;
  }

  li{
    border-bottom:1px solid #2B2D42;
    background-color: #f9dcc4;
    margin:20px 0;
    padding:20px 10px;
    list-style: none;
    line-height: 2;
    transition: all .2s;

    span{
      color:#2B2D42;
      display:block;
      margin:auto;

      transition: all .2s;

      width:80%;
      height:25px;
    }

    &:hover{background-color: #fec89a;}

    &:hover span{
      transform:scale(1.05);
      color:#494C6F;
    }
  }


}
