footer{
  padding:20px 0;
  text-align: center;
  width:100%;
  min-height:80px;
  background-color:#2B2D42;

  ul{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

    li{
      padding:0 30px;
    }
  }


  a{
    color:#EDF2F4;
  }
}
